.card-swap-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5%, 20%);
  transform-origin: bottom right;

  perspective: 900px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0;
  border: 0;
  background: transparent;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 860px) {
  .card-swap-container {
    position: relative;
    bottom: auto;
    right: auto;
    transform: none;
    margin: 0 auto;
    width: 100% !important;
    max-width: 380px;
    perspective: 760px;
  }
}

@media (max-width: 768px) {
  .card-swap-container {
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    max-width: 300px;
  }
}
